---
import GithubStats from '../../../';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro Github Stats</h1>

		<h3>Account Stats</h3>
		<GithubStats username="ayoayco" />

		<h3>Account Stats</h3>
		<GithubStats username="ayoayco" showIcons={true} />

		<h3>Account Top Languages</h3>
		<GithubStats username="ayoayco" topLanguages={true} />

		<h3>Repository Card</h3>
		<GithubStats username="withastro" repo="astro" />
	</body>
</html>
